<div class="container jumbotron" style="margin-top: 15px; background-color: <%= @background_color %>">
  <h1 class="display-4">Ozone Weather App</h1>
  <p class="lead"><%= @output %></p>
  <hr class="my-4">
  <p><%= @description %></p>
  <a class="btn btn-secondary btn-lg" href="#" role="button">Learn more</a>
</div>
